.conteudo__titulo {
  margin: 2rem 0;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: underline;
}
.conteudo__container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  margin: auto;
}

.conteudo__curso {
  width: 200px;
  height: 200px;
  margin: 1rem auto;
  position: relative;
  display: flex;
  justify-content: center;
}


.letra1 {
  position: absolute;
  align-self: center;
  font-size: 120px;
}

.link {
  color: white;
  text-decoration: none;
} 

.curso__titulo {
  position: absolute;
  align-self: end;
  right: 0px;
  bottom: -20px;
}

.background-1 {
  background: #A77BFF;
}

.background-2 {
  background: #DFBEEF;
}
