  @import url("styles/header.css");
  @import url("styles/banner.css");
  @import url("styles/carrossel.css");
  @import url("styles/topicos.css");  
  @import url("styles/contato.css");
  @import url("styles/footer.css");
  
  :root {
    --cor-de-fundo: #4b4b4b; 
    --branco: #fff;
    --laranja: #1187cc;
    --azul-degrade: linear-gradient(97.54deg, #3f3f3f 35.49%, #616161 100.37%, #cacaca 130.37%);
    --fonte-principal: "Poppins";
    --azul: #002F52;
    --fonte-sec: "Josefin Sans";
    --preto: #000000;
    --cinza: #474646;
    --cinza-claro: #4b4b4b;
  }
  
  body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
  }

